<style type="text/css">
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe6e9;
    padding: 20px;
    width: 650px;
    height: 350px;
  }

  .myframe {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }

  .btnstyle {
    display: flex;
    justify-content: center;
  }
</style>

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Contact Us</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TextUtils.in</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Welcome to Contact Us </strong> Here you can contact us!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="container ">
    <form style="display: flex; justify-content: center;">
      <div class="root">
        <div class="myframe">
          <div class="row"
            style="display: flex; justify-content: center; align-items:center; font-size:30px; letter-spacing:2px; font-weight:bold;">
            Contact Us
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col">
              <input type="text" class="form-control" placeholder="First Name">
            </div>

            <div class="col">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col">
              <input type="email" name="emailaddress" class="form-control" placeholder="Email Address">
            </div>

            <div class="col">
              <input type="text" name="mobilenumber" class="form-control" placeholder="Mobile Number">
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col btnstyle">
              <button type="submit" class="btn btn-success" style="width: 100%;">Save</button>
            </div>

            <div class="col btnstyle">
              <button type="reset" class="btn btn-success w-100">Reset</button>
            </div>
          </div>

        </div>
      </div>
    </form>

    <h4 style="display: flex; justify-content: center;">Contact Details</h4>
    <div style="display: flex; justify-content: center;"><b><i>Mobile Number : </i></b><a href=" callto:+919755298080">
        +919755298080</a></div>
    <div style="display: flex; justify-content: center;"><b><i>Email Id : </i></b><a
        href="mailto:info.textutils@gmail.com">
        info.textutils@gmail.com</a></div>
    <div style="display: flex; justify-content: center;"><b><i>Address : </i></b><a
        href="https://www.map.googl.com/">Duresh Colony near Love Kush Vatika Dabra,Gwalior, Madhya Pradesh Pin :
        475110</a></div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>